<template>
<div class="main-content">
            <input class="search-bar" type="text" placeholder="Search">
            <h1 id="main-header" class="all-songs">ALL SONGS</h1>
            <p class="singers">Taylor Swift, Shawn Mendes, Ariana Grande, Andy Grammer, Alec Benjamin, and more...</p>
            
            <div class="space-divider"></div>
            
            <!-- TABLE -->  
            
            <div class="table-container">
            <table class="table-main">
                    <thead>
                        <tr class="table-row">
                            <th class="table-header">Title</th>
                            <th class="table-header">Artist</th>
                            <th class="table-header">Album</th>
                            <th colspan="3" class="table-header">Duration</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr class="table-row">
                        <td class="table-items">Wildest Dreams (Taylor's Version)</td>
                        <td class="table-items">Taylor Swift</td>
                        <td class="table-items">1989 (Taylor's Version)</td>
                        <td class="table-items">03:40</td>
                        <td class="table-items"><img id="firstTrackfave" onclick="addTofave()" class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-items">drunk</td>
                        <td class="table-items">keshi</td>
                        <td class="table-items">always</td>
                        <td class="table-items">03:47</td>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-items">Style (Taylor's Version)</td>
                        <td class="table-items">Taylor Swift</td>
                        <td class="table-items">1989 (Taylor's Version)</td>
                        <td class="table-items">03:51</td>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-items">Holy Ground (Taylor's Version)</td>
                        <td class="table-items">Taylor Swift</td>
                        <td class="table-items">Red (Taylor's Version)</td>
                        <td class="table-items">03:21</td>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                    <tr class="table-row">
                        <th class="table-items">I Don't Care (with Justin Beiber)</th>
                        <th class="table-items">Ed Sheeran, Justin Bieber</th>
                        <th class="table-items">I Don't Care (with Justin Bieber)</th>
                        <th class="table-items">03:39</th>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-items">Getaway Car</td>
                        <td class="table-items">Taylor Swift</td>
                        <td class="table-items">Reputation (Taylor's Version)</td>
                        <td class="table-items">03:53</td>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                        <tr class="table-row">
                        <td class="table-items">Paper Rings</td>
                        <td class="table-items">Taylor Swift</td>
                        <td class="table-items">Lover</td>
                        <td class="table-items">03:42</td>
                        <td class="table-items"><img class="icon-size icon-hover" src="../assets/icons8_heart_9.svg"></td>
                        <td class="table-items"> <img class="icon-size icon-hover" src="../assets/icons8_menu_vertical_5.svg"></td>
                    </tr>
                </tbody>
            </table>
                <!-- END TABLE -->
                <div class="space-divider"></div>
                
            </div>
        </div>
</template>

<script>
export default {
  name: 'MainContent'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.icon-size {
    width: 19px;
    margin-right: 10px;
}

.main-content {
    padding: 40px 90px 10px 300px;
}

.search-bar {
    background: #F2F2F2;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    border: none;
    width: 20%;
    font-size: 1rem;
    color: #404040;
    transition: 0.3s;
}

.search-bar:focus {
    outline: none;
    width: 100%;
}

.all-songs {
    margin: auto;
    margin-top: 14px;
    font-weight: 900;
    font-size: 5vw;
    color: black;
}

.singers {
    margin: auto;
    margin-top: -5px;
    color: #3E3E3E;
    font-size: 1vw;
    margin-bottom: 20px;
}

.table-main {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}

.table-header {
    position: sticky;
    top: 0;
    background: #EDEDED;
    color: #222222;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    padding: 1vh;
}

.table-items {
    padding: 10px;
    color: #797979;
    font-weight: 400;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-row:hover {
    background: #191919;
}

.table-container {
    overflow: auto;
    height: 50vh;
    width: 100%;
}

.td:hover {
    text-overflow: clip;
    
}

.icon-hover:hover {
    cursor: pointer;
    filter: invert(78%) sepia(13%) saturate(720%) hue-rotate(229deg) brightness(88%) contrast(92%);
}
</style>
