@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #D6D6D6;
    border-radius: 60px;
}
 
::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #F5F5F5;
    height:100%;
    width: 230px;
    box-shadow: 0px 0px 25px -10px;
}
.button-container {
    display: flex;
    flex-direction: column;
    margin-top: -0.3vh
}

.icon-size {
    width: 19px;
    margin-right: 10px;
}

.upload-button, .create-button, .favorite-button {
    background: #2F2D2D;
    border: none;
    border-bottom: 3px solid #383838;
    font-size: 14px;
    font-weight: 300;
    color: #B2B2B2;
    text-align: left;
    padding: 20px 0;
    padding-left: 40px;
    margin-top: -1.4px;
    transition: 0.1s;
}

.upload-button:hover, .create-button:hover, .favorite-button:hover{
    background: #222222;
}

.playlist-container {
    background: #F5F5F5;
    height: 45vh;
    padding: 25px 10px 20px 20px;
}

.divider {
    background: #808080;
    height: 0.1vh;
    width: 3vw;
    margin-bottom: 20px;
}

.my-playlist {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    font-weight: 900;
    font-size: 3vh;
    color: black;
}

.playlist-container ul {
    height: 70%;
    overflow: auto;
    margin: auto;
}

.playlist-container li, a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2vh;
    margin-top: 5px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: 0.3s;
}

.playlist-container a:hover {
    color: #824BAF;
}

.user-container {
    position: relative;
    display: flex;
    align-items: center;
    background: #D6D6D6;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

.user-img {
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 14px;
}

.greetings {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.main-content {
    padding: 40px 90px 10px 300px;
}

.search-bar {
    background: #F2F2F2;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    border: none;
    width: 20%;
    font-size: 1rem;
    color: #404040;
    transition: 0.3s;
}

.search-bar:focus {
    outline: none;
    width: 100%;
}

.all-songs {
    margin: auto;
    margin-top: 14px;
    font-weight: 900;
    font-size: 4rem;
    color: black;
}

.singers {
    margin: auto;
    margin-top: -5px;
    color: #3E3E3E;
    font-size: 0.9rem; 
}

.player-container {
    position: fixed;
    bottom: 0;
    background: #0D0D0D;
    width: 100vw;
    height: 18vh;
    padding: 30px 20px 30px 270px;
    color: white;
}

.player-container2 {
    display: flex;
    
}

.album-cover {
    float: left;
    background: #E1CD98;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.song-info {
    margin-left: -20px;
    
}

.song-title {
    font-size: 1vw;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    font-size: 0.9vw;
    margin-bottom: auto;
    margin-top: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #D6D6D6;
}

.duration-section {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duration-bar {
    width: 29vw;
    height: 4px;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-bar {
    border: 0;
    background: white;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-value {
    border: 0;
    background-color: #8952B5;
    border-radius: 100px;
}

.player-icons-container {
    margin-top: 2vh;
}

.player-icons-items {
    margin: 0 1.5vw;
}

.add-adjust-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 300px;
    font-size: 0.7rem;
    text-align: center;
    align-items: center;
    margin: auto;
}

.add-adjust-text-bottom {
    margin: auto;
    margin-bottom: 10px;
}

.space-divider {
    padding-top: 3vw;
}

.table-main {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}

.table-header {
    position: sticky;
    top: 0;
    padding: 1.3vw 2vw 1.3vw 2vw;
    background: #EDEDED;
    color: #222222;
    width: 100%;
    font-size: 1vw;
    font-weight: 900;
}

.table-items {
    padding: 0.6vw 1vw 0.6vw 2vw;
    color: #797979;
    font-weight: 400;
    font-size: 0.9vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-row:hover {
    background: #191919;
}

.table-container {
    overflow: auto;
    height: 19.5vw;
    width: 100%;
}

.td:hover {
    text-overflow: clip;
    
}

.icon-hover:hover {
    cursor: pointer;
    filter: invert(78%) sepia(13%) saturate(720%) hue-rotate(229deg) brightness(88%) contrast(92%);
}

.modal-container {
    visibility: hidden;
}

.upload-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    height: 100vh;
    width: 100vw;
}

.upload-box {
    display: flex;
    flex-direction: column;
    background: #D0D0D0;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.upload-box-header {
    padding: 15px;
    padding-left: 30px;
    background: #212121;
    height: 8vh;
    width: 100%;
    color: white;
    font-weight: 900;
}

.upload-box-content {
    font-weight: 900;
    color: #707070;
    text-align: center;
    margin-top: 100px;
}

.upload-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}

.upload-box-button button {
    border: none;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
}

.upload-button-color {
    background: #222222;
    color: white;
}

.cancel-button-color {
    background: #B1ACAC;
    color: white;
}

.modal-container2 {
    visibility: hidden;
}

.create-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    height: 100vh;
    width: 100vw;
}

.create-box {
    display: flex;
    flex-direction: column;
    background: #D0D0D0;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.create-box-header {
    padding: 15px;
    padding-left: 30px;
    background: #212121;
    height: 8vh;
    width: 100%;
    color: white;
    font-weight: 900;
}

.name-playlist {
    font-weight: 500;
    color: #707070;
    text-align: left;
    padding: 6px;
    padding-left: 20px;
    margin: 20px;
    background: #C4C4C4;
    border: none;
    border-radius: 5px;
}

.create-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}

.create-box-button button {
    border: none;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
}

.create-button-color {
    background: #222222;
    color: white;
}

.cancel-button-color {
    background: #B1ACAC;
    color: white;
}

